@media only screen and (min-width: 750px) {


    header {

        display: flex;
        
    }

    .logo {

        max-width: 180px;
        margin-left: -150px;
        
    }

    .headertext h1 {

        font-size: 50px;
    }


/*********** NAVIGATION *************/

nav .topNav {

    display: flex;
    justify-content: center;
    align-content: center;
}
nav .navigation {
    
    display: flex;
}

nav .menu {

    display: none;
}

nav .hide {
    
    display: inline-flex;
    font-size: 12pt;
    padding: 0.2rem;
}


main {

    
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
}


.homesection {
    
    width: 800px;
    margin: 60px auto auto auto;
}

.templeindex {

    width: 800px;
    margin: 60px auto auto auto;
    
}

.contactlink {

    margin: 80px auto auto auto;
}

.freeamenitieswrapper {
    width: 600px;
    margin: auto;
    


}

.otheramenities {
    width: 800px;
    margin: 80px auto;
}

.contactlinkamenities {

    margin: auto;
}

.contactmain {
    width: 100%;
    max-width: 750px;
    margin: auto;
}

.contactheader, .contactPara, .contactinfo, .formcontainer, .map {

    max-width: 700px;
}

.contactPara {

    padding: 20px 0;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 5px;
}

.formcontainer {
    
    margin: auto;
    
}


.map {
    
    margin: 10px auto 30px auto;
    width: 100%
    
    
}

form {

    max-width: 700px;
    width: 100%;
    margin: auto;
}




}