* {
    margin: 0;
    padding: 0;
}

body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    min-width: 360px;
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: 'Carrois Gothic SC', sans-serif;
    
}

/******** HEADER **********/


header {
    background-color: #B8B0A6;
    text-align: center;
    padding: 0.5rem;
    color: #2C3C56;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.logo {
    
    max-width: 150px;
    
    
}

/******** NAVIGATION **********/

nav {
    background-color: #2C3C56;
    width: 100%; 
    color: #fff;
    border-top-color: #D14851;
    border-width: 5px 0 0 0;
    border-style: solid;
    
}

.navcontent {

    padding: 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav a {
    
        color: white;
        text-decoration: none;
        padding: 15px;
        display: block;
        font-size: 1.2rem;
        text-align: center;	
    }



nav  li a:hover { 
    background-color: #D14851; 
    color: white;
}

nav a:visited{

    color: white;

}


nav a:active {

    background-color: #D14851; 
    color: white;
}


.selected {

background-color: #959CA3;
color: #2C3C56;
}



/******** FOOTER **********/


footer {

    background-color: #B8B0A6;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 7pt;
    

}

/********************* HOME ***********************/


/******** MAIN **********/

main {

    text-align: center;
}

.heroimage {

    width: 750px;
    margin: 100px auto auto auto;
}
.heroImage img {

    width: 100%;
    max-width: 750px;
    border-radius: 10px;
     
}

.heroImage a:hover {

    opacity: 0.75;
}



.homesection {

    background-color: #959CA3;
    padding: 30px;
    margin-top: 100px;
}

.homesection h3, .homesection p {

    background-color: white;
    padding: 15px 20px;
}

.homesection p {

    text-align: left;
    
}


.callaction {

    background-color: #D14851;
    color: white;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    border: 4px solid #959CA3;
    width: 100%;
    max-width: 500px;
}

.callaction h3, .callaction p {

    padding: 15px 25px;
}

.callaction p {

    text-align: center;
    width: 400px;
    margin: auto;
}

.homebutton {

    width: 200px;
    background-color: #2C3C56;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    margin: 20px auto;
    padding: 15px 10px;
}

.callaction a {

    text-decoration: none;
}

.homebutton:hover {

    box-shadow: 0px 2px 15px 10px black;
    
}


.templeindex {

    margin: 100px auto;
    background-color: #959CA3;
    padding: 30px;

}

.templeindex h4, .templeindex p {

    color: white;
    padding: 15px 20px;
}

.templeindex p {

    text-align: left;
    
}

.hometempleimg {

    margin-bottom: -100px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px black;
}

.contactus {

    width: 200px;
    background-color: #959CA3;
    color: #2C3C56;
    text-decoration: none;
    border-radius: 15px;
    margin: 20px auto;
    padding: 15px 10px;
}

.contactlink {

    text-decoration: none;
}

.contactus:hover {

    box-shadow: 0px 2px 15px 10px black;
    background-color: #2C3C56;
    color: white;
}

/********************* AMENITIES ***********************/

.amenitiesh2 {

    margin: 70px auto 40px auto;
    
}

.freeamenities {

    text-align: left;
    margin: 20px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding: 10px 10px;
    
    

}

.freeamenitieswrapper {
    background-color: #959CA3;
    color: white;
    padding: 20px 0;
    
}

.amenitywrapper {

    margin: 20px, auto;
    text-align: center;
    background-color: #B8B0A6;
    padding: 10px;
}

.freeamenitieswrapper h4 {
    color: #2C3C56;
    background-color: white;
    margin: 0 40px;
    padding: 20px;
}

.amenitiesimage {
    
    width: 100%;
    max-width: 200px;
    margin: auto;
    

}


.freeamenities p {

    margin: auto;
    text-align: center;
    font-size: 16px;

}

.otheramenities {

    margin: 40px 40px;
    background-color: #959CA3;
    color: white;
    padding: 20px 0;
    
}

.otheramenities h4 {

    color: #2C3C56;
    background-color: white;
    margin: 0 30px;
    padding: 5px;
}

.otheramenities ul {
    list-style-type: square;
    padding: 10px 10px 10px 40px;
    text-align: left;
}

.otheramenities li {

    padding: 5px;
}

.contactlinkamenities {

    text-decoration: none;
}


/********************* CONTACT ***********************/



.contactheader {
    
    width: 100%;
    margin: 80px auto auto auto;
    padding: 20px 0;
    
    
}

.contactinfo {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    background-color: #2C3C56;
    
    width: 100%;
    margin: auto auto 10px auto;
    padding: 10px 0;
    

}

.contactinfo .label {

    text-align: right;
    grid-column-start: 1;
    grid-column-end: 2;
    color: white;

    
}

.contactinfo .value {
   
    color: white;
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
}

.contactform {
    
    background-color: #B8B0A6;
    text-align: left;
    padding-left: 5px;
    margin: 0;
    
}

.contactform h3 {

        color: #D14851;
        padding: 15px 0;
    
    
}

.formcontainer {
    
    background-color: #B8B0A6;
    width: 100%;
    margin: auto;
    
}

.contactPara {
    
    
    margin: 10px auto;
    text-align: left;
    background-color: #B8B0A6;
    padding: 40px 15px;
    color: white;
}

.contactform p {
    
    text-align: left;
    margin: 0 auto;
    color: white;
    padding-bottom: 2px;
    
}

.input {
    
    padding: 5px;
    margin-bottom: 10px;
    
    
}

.contactbutton {
    
    background-color: #2C3C56;
    color: white;
    
    border-color: white;
}

.contactbutton:hover {
    background-color: #D14851;
    color: white;
    border-color: #D14851;
    
}

.map {
    
    background-color: #B8B0A6;
    text-align: left;
    padding: 5px;
    margin: 20px auto;
    
}

.googlemap {

    margin: auto;
    width: 100%
}

.map h3 {

        color: #D14851;
        padding: 15px 0;
    
    
}

.map p {

    
    text-align: left;
   
    padding: 10px 5px;
    color: white;
}


/********************* THANKS ***********************/

.thankyou {
    color: white;
    background-color: #959CA3;
    margin: 100px auto;
    max-width: 800px;
    padding: 15px;
    
}



/********************* RESERVATIONS ***********************/

.reservationsh2 {

    margin: 70px auto 40px auto;
}

form {

    text-align: left;
 }
 
 fieldset {

    background-color: #B8B0A6;
    text-align: left;
    margin: 30px 0;

 }

 form h3 {

    padding-bottom: 25px;
    padding-top: 15px;
    font-weight: 700;
    color: #2C3C56;
 }

 form p {

    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 3px;
    color: white;
 }

 form input, select, datalist, span, textarea {

    width: 70%;
    padding: 3px;
 }

 .special input, .special span {

    width: initial;
    color: white;
    

 }

 .submit {

 width: initial;  
 text-align: center; 
 font-size: 16px;
 width: 250px;
 height: 40px;
 margin: auto auto 40px 15px;
 background-color: #2C3C56;
 color: white;
 

 }

 .submit:hover {

    background-color: #D14851;
    color: white;
    box-shadow: 0px 2px 15px 10px black;
    border-color: #D14851;
 }



 /********************* TEMPLES ***********************/



.templesh2 {

    margin: 70px auto 40px auto;

}

.templecontainer {

    background-color: #959CA3;
}


.temple {

    background-color: #959CA3;
    margin: 80px auto 30px auto;
    width: 100%;
    
    
}

.templeimage {

    margin-top: -50px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px black;
    width: 100%;
    max-width: 400px;

}

.temple h3 {

    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.temple p {

    background-color: white;
    color: black;
    margin: 0 5px 0 5px;
    text-align: left;
    font-size: 12pt;
    padding-top: 5px;
    padding-bottom: 5px;
}



